.container{
    width: 100%;
    max-width: 1140px;
    /* display: flex; */
    height: 100vh;

}

header{
  flex-direction: column;
  text-align: center;
}
img{
    border-radius: 50%;
}

button{
    padding: 5px;
    background-color: rgba(10, 31, 168, 0.951);
   text-align: center;
   color: white;
   font-size: 20px;
   font-weight: 50px;
   border-radius:4%; 
  

}
h1{
    font-size: 40px;
    font-weight: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #303036;
}
.header-nav{


    margin-top: 60px;
}
h3{
  
    color: #303036;
}
p{
     color: #63636b;
}

.box{
    margin-top: 100px;
    padding: 25px;
    border: 1px solid rgba(0, 0, 0, 0.292);
    height: 240px;
    border-radius: 3%;
    &:hover{
        background-color: rgba(58, 167, 192, 0.192);
        /* box-shadow: black; */
        height: 260px;
        transition: all.3s;
        box-shadow: 2px 4px 20px 1.4px rgba(45, 45, 45, 0.13);
    }
    cursor: pointer;
}

.row{
    gap: 20px;
}




